@import "//rsms.me/inter/inter.css";

* {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

div.title {
    font-size: 25px;
    font-weight: 600;
}

hr.sep {
    border: none;
    border-bottom: 1px solid #000
}

div.item {
    height: auto;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
}

span.ver {
    color: #888;
}

div.func-param {
    height: auto;
    margin: 5px;
    padding-left: 5px;
    border-left: 2px solid #888;
    transition-property: border-left-width;
    transition-duration: 0.3s;
}
div.func-param:hover {
    border-left: 5px solid #888;
}

span.optional {
    font-size: 18px;
    background-color: #e0e0e0;
    margin: 0 5px;
    padding: 0 5px;
    border-radius: 9px;
    border: 1px solid #111;
    font-weight: 400;
}

div.func-param-type {
    font-weight: 600;
}

div.func-param-optional {
    font-style: italic;
}

a.link[href] {
    color: #08f;
    text-decoration: none;
    cursor: pointer;
}
a.link[href]:hover {
    text-decoration: underline;
}

/* Class addition */
ul#map {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    list-style: none;
    display: block;
}
ul#map li {
    font-size: 16px;
    cursor: pointer;
    border-left: 2px solid #555;
    padding-left: 5px;
    transition-property: border-left;
    transition-duration: 0.1s;
}
ul#map li:hover {
    border-left: 5px solid #555;
}
ul#map li a {
    font-size: 16px;
    text-decoration: none;
    color: #000;
}

div.subtitle {
    font-size: 22px;
    font-weight: 600;
}
