root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true

[{*.js,*.ts}]
indent_size = 4

[{*.json,*.md,*.yml,*.*rc}]
indent_size = 2

# IntelliJ Idea Config
[*.js]
ij_javascript_use_double_quotes = false
ij_javascript_force_quote_style = true

[*.ts]
ij_typescript_use_double_quotes = false
ij_typescript_force_quote_style = true
