@import "global.css";

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid black;
    position: sticky;
}

header div[data-left] {
    float: left;
    cursor: pointer;
    width: 250px;
}

header div[data-right] {
    float: right;
    font-size: 18px;
    margin-right: 20px;
    position: relative;
}

input#search {
    border: 1px solid #000;
    font-size: 18px;
    border-radius: 50px;
    padding: 5px;
    outline: none;
}
input#search:focus {
    border: 1px solid #06ac00;
}

#result {
    font-size: 18px;
    background-color: #fff;
    line-height: normal;
    border: 1px solid #888;
    position: absolute;
    bottom: 0;
}

div.body {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: row;
}

div.sidebar {
    display: inline-block;
    width: 20%;
    height: 100%;
    border-right: 1px solid #000;
    overflow: auto;
}

div.sidebar ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline: 0;
}

div.sidebar ul li, div.sidebar ul summary {
    font-family: Inter, sans-serif;
    cursor: pointer;
}

div.sidebar ul li:hover, div.sidebar ul summary:hover {
    color: #0088ff;
}

div.sidebar ul li:active, div.sidebar ul summary:active {
    color: #005095;
}

.scrap {color: #f00;}
.beta {color: #06ac00;}

div.sidebar-title {
    display: block;
    margin-left: 20px;
}

div.page-parent {
    position: relative;
    display: inline-block;
    width: 80%;
    height: 100%;
}

iframe#page {
    border: none;
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: auto;
}

div#loading-parent {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    align-items: center;
    justify-content: center;
}

div#loading {
    display: flex;
    width: 20%;
    height: 10%;
    border: 2px solid #000;
    text-align: center;
    align-items: center;
    justify-content: center;
}

summary {
    outline: none;
}
summary::before {content: '';}
summary:focus::after {content: '+'}
summary::after {content: '+'}
