* {
    font-family: 'Inter', sans-serif;
    font-size: 19px;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    padding: 5px;
}

code {
    font-family: 'JetBrains Mono', 'Consolas', monospace;
}

a {
    color: #0088ff;
    text-decoration: none;
}

div.title {
    font-size: 30px;
}

div.subtitle {
    font-size: 27px;
}

div#desc {
    font-style: italic;
    font-size: 18px;
}

div.usage, div.props {
    border: 1px solid #000;
    margin: 5px;
    padding: 5px;
    background-color: #eeeeee;
}

span.available-at {
    color: #b6b6b6;
    font-style: italic;
    margin-left: 20px;
}

ul#params-parent, ul#props-parent {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

li.param, li.prop {
    background-color: #fff;
    border: 1px solid #888;
    border-radius: 7px;
    padding: 5px;
    margin: 5px;
}

div.u-name {
    font-weight: 650;
}

div.u-optional {
    font-style: italic;
}

span.badge {
    display: inline-block;
    position: relative;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    width: auto;
    font-weight: 500;
}

span.beta {
    color: #06ac00;
    border: 1px solid #06ac00;
}

span.scrap {
    color: #f00;
    border: 1px solid #f00;
}

